.checkoutForm{
    padding: 15px;
    margin: 10px 5px 5px;
    //outline: solid 2px pink;
    display: flex;
    label {
        flex: 1;
        display: flex;
        align-items: center;
        font-weight: 600;
    }
    
    input {
        flex: 2;
        padding: 15px;
        margin: 10px 0 0;
        //outline: solid 2px gold;
    }
    span {
        font-size: 10;
        padding: 3px;
        color: red;
        flex: 1;
        font-weight: 100;
        display: none;
    }
    input:invalid ~ span {
        display: block;
    }
}