.navbar {
    height: 180px;
    margin: 20;
    #menu-toggle {
        display: none;
    }
    .menu {
        display: none;
         position: absolute;
        float: right;
        align-items: center;
    }
    .wrapper {
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        .item {
            display: flex;
            align-items: center;
            font-size: 1rem;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 2rem;
            width: 0;
        }
        .center {
            font-size: 3rem;
            letter-spacing: 1.5px;
            font-weight: 300;
            text-align: center;
            p{
                font-size: small;
            }
        }
        .right {
            display: flex;
            align-items: center;
            text-align: center;
            right: 0;
            left: 0;
            margin: auto;
            gap: 5rem;
            font-weight: 400;
            justify-content: center;
            //outline: 2px solid red;
            .link {
                font-weight: 600;
                color: #001B1F;
            }

            .icons {
                display: flex;
                gap: 3rem;
                color: #001B1F;
                cursor: pointer;

                .cartIcon {
                    position: relative;
                    span {
                        font-size: 0.9rem;
                        width: 1.3rem;
                        height: 1.3rem;
                        border-radius: 50%;
                        background: var(--blue);
                        color: var(--white);
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

/*========== MEDIUM DEVICE MEDIA QUERIES ===========*/
@media  screen and (max-width:1024px) {
    .navbar {
        //outline: 1px solid red;
        //display: flex;
       // max-width: fit-content;
       height: fit-content;
        .wrapper{
           // outline: 2px solid blue;
            //max-width: fit-content;
            .center {
                //outline: 2px solid green;
                text-align: center;
                justify-content: center;
                right: 0;
                left: 0;
                margin: auto;
            }
            .right {
               //outline: 2px solid goldenrod;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 10px;
                left: 0;
                right: 0;
                margin: auto;
                .icons {
                    gap: 1.2rem;
                    display: flex;
                }
            }
        }
    }

}
/*========== SMALL DEVICE MEDIA QUERIES ===========*/
@media screen and (max-width: 600px) {
   
    .navbar {
        .menu {
            display: block;
            padding: 1.1rem 1.22rem 0;
            font-size: 2rem;
        }


        #menu-toggle:checked ~ .wrapper > .right{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 2rem;
            height: 15rem;
            padding: 1rem;
            overflow: auto;
            margin-top: 0;
            z-index: 1;
            .item{
                display: flex;
            }
            .icons {
                top: 0;
            }
          }

        .wrapper {
            left: 0;
            right: 0;
            margin: auto;
            p{
                //display: none;
            }
            .center {
                font-size: 1.6rem;
                //outline: 2px solid red;
                left: 0;
                text-align: center;
                margin-left: 6%;
                p{
                    font-size: 10px;
                }

            }
            .right {
                position: relative;
                top: 6px;
                height: 0.6rem;
                font-size: 0rem;
                transition: height 0.5s ease;  
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                padding: 0;
                background: #fff;
                .item {
                    z-index: -1;
                    display: none;
                }
            }
        }
    }
}