.products {
    margin-top: 10px;
    padding: 30px 20px;
    display: flex;
    //overflow: hidden;
    gap: 2rem;
    .left{
        //outline: solid yellow 2px;
        flex: 0.7;
        padding: 20px;
        position: sticky;
        height: 100%;
        top: 10px;

        .filterItem {
            margin-bottom: 20px;
            h2{
                font-weight: 400;
                margin-bottom: 20px;
            }

            .inputitem {
                margin-bottom: 10px;
                label {
                    margin-left: 10px;
                }
            }
        }

    }
    .right {
        //outline: solid red 2px;
        flex: 3.3;
        .catImg {
            //outline: solid green 2px;
            width: 100%;
            height: 33vh;
            object-fit: cover;
            margin-bottom: 4rem;
            img {
                width: 100%;
            }
        }
    }
}

/*========== MEDIUM DEVICE MEDIA QUERIES ===========*/
@media  screen and (max-width:1024px) {
   .products {
     padding: 0;
     display: flex;
     gap: 0;
     .left {
        height: fit-content;
       
        
        h2{
            font-size: smaller;
        }
        label {
            font-size: smaller;
        }
     }
     .right {
        .catImg{
            height: 20vh;
            margin-bottom: 2px;
            img {

            }
        }
        
       
     }
   }
  
 }
 /*========== SMALL DEVICE MEDIA QUERIES ===========*/
 @media screen and (max-width: 600px) {
    .products {
        margin-top: 0px;
        .left {
            padding: 0;
            font-size: small;
            //outline: 2px solid red;
        }
    }
    
 }