* {
    margin: 0;
    padding: 10;
    /* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray; 
}
} 
.app {
    //outline: 2px solid rgb(162, 196, 10);
    .link {
        color: inherit;
        text-decoration: none;
    }
    
}

:root {
    --grey: #777;
    --white: #ffffff;
    --blue: #2879fe;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;



  }

  /*======= MEDIA QUERIES MEDIUM SCREEN =====*/
@media screen and (max-width:1024px) {
}

  
  /*======= MEDIA QUERIES SMALL SCREEN =====*/
@media screen and (max-width: 600px) {

}
