.privacy {
    right: 0;
    left: 0;
    margin: auto;
    top: 20px;
    padding: 20px;
    text-align: center;
    width: 60vw;
    img {
        width: 100%;
        object-fit: cover;
    }

}
/*======== MEDIA QUERIES =====*/
@media  screen and (max-width:1024px) {
    .privacy {
        padding: 10px;
        width: 80vw;
        img {
            width: 100%;
            object-fit: cover;
            height: fit-content;
        }
    }
}
/*========= SMALL DEVICES =====*/
@media  screen and (max-width:600px) {}